.flex-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-grid .col {
  display: flex;
  color: white;
  font-size: 13px;
  margin-right: 10px;
}
.element img {
  margin-right: 5px;
}

.flex-grid .col svg {
  color: white;
}

.logo {
  margin-top: 5px;
  width: 110px;
}

.text {
  margin-top: 8px;
}

.iconText {
  margin-top: 8px;
}

.logout-icon {
  margin-left: 10px;
}

.searchBar {
  margin-left: 100px;
}