.FilterSwitcher {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid #0d5db8;
  padding: 10px 0;
  width: 58px;
  height: 58px;
  svg {
    fill: white !important;
  }
  &.active {
    background-color: #202531;
  }
}
