.Filters {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #d0dae5;
  width: 250px;
  .sectionHeading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #aebecd;
    color: black;
    font-weight: bold;
    height: 50px;
    padding: 0px 10px;
    .label {
      color: black;
      font-weight: 600;
    }
  }
  .filterSections {
    overflow-x: auto;
    height: 90%;
  }
}
