.CustomDialogWithHeader {
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

.CustomDialogWithHeader .ms-Dialog-main {
  max-width: 600px;
}

.CustomDialogWithHeader .ms-Dialog-header {
  background-color: #0d5db8;
  height: 40px;
  padding: 6px;
  padding-left: 14px;
  display: flex;
  align-items: center;
}

.CustomDialogWithHeader .ms-Dialog-header .topButton-72 {
  padding: 5px;
}

.CustomDialogWithHeader .ms-Dialog-header p {
  padding: 11px 10px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
}

.CustomDialogWithHeader .ms-Dialog-header p,
.CustomDialogWithHeader .ms-Dialog-header button {
  color: white;
}
.CustomDialogWithHeader .ms-Dialog-inner {
  padding: 0px;
}

.CustomDialogWithoutHeader .ms-Dialog-header p {
  visibility: hidden;
}

.ms-Dialog-header {
  > div[class*=topButton] {
    padding-top: 4px;
    padding-right: 4px;
  }
  .ms-Dialog-title {
    padding: 7px!important;
    font-weight: bold;
    i {
      float: left;
      margin-right: 5px
    }
  }
  button {
    i {
      font-weight: bold;
    }
  }
}
.DialogFooter {
  .ms-Dialog-action {
    margin: 0px;
    > div {
      background-color: #f1f1f1!important;
      justify-content: flex-end!important;
      height: 60px;
    }
  }
  .ms-Dialog-actionsRight {
    margin: 0;
  }
}

.ms-Dialog-header .ms-Dialog-title {
  // fabric override
  padding: 0 !important;
}

.ms-Dialog-inner .ms-Dialog-content > div {
  padding: 20px 16px;
}