.QuickFilter {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  width: 58px;
  height: 58px;
  align-items: center;
  justify-content: center;
  .icon {
    svg {
      fill: white !important;
    }
  }
  .count {
    color: #fff;
    font-size: 12px;
  }
  &.active {
    background-color: #171717;
  }
}
