$default-tab: '';

.tabIcon {
  font-size: 24px;
  margin-bottom: 5px;
}
.tabIconDispatch {
  font-size: 16px;
}

.tab {
  text-transform: capitalize !important;
  font-size: 10px !important;
  @media (min-width: 1100px) {
    font-size: 11px !important;
  };
}
.tabs .default {
  background-color: #545A63 !important;
  border-bottom: 5px solid #0D5DB8 !important;
  color: white !important;
}
.tabs .active {
  background-color: white !important;
  border-bottom: 5px solid #545A63 !important;
  color: #545A63 !important;
}

@media screen and (max-width: 1000px) {
  .tabLabel {
    display: none;
  }
}