@keyframes topLeftPopout {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

.options {
  animation-name: topLeftPopout;
  animation-duration: 0.2s;
  transition: all cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transform-origin: 0% 0%;
  max-height: 200px;
  z-index: 10000;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}

.option {
  height: 50px;
  padding-top: 0.75em;
  padding-left: 1em;
  text-transform: capitalize;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16px;
  font-family: sans-serif;
  background-color: white;
}

.selectedOption {
  background-color: rgba(158, 158, 158, 0.2);
}
