
.searchTypesMenuButton {
  border: 1px solid #a6a6a6;
  margin: 0 -11px 0 -11px;
  font-size: 13px;
  min-width: max-content;
}

.prefixContextualMenu {
  padding: 0px;
}

.searchBarTextField {
  min-width: 30em;
}