
.searchTypesMenuButton {
  margin: 0 -10px 0 -10px;
  font-size: 13px;
  width: max-content;
}

.prefixContextualMenu {
  padding: 0px;
}

.searchBarDiv {
  display: flex;
}

.searchBarTextField {
  min-width: 30em;
}

.searchBarCheckbox {
  margin-left: 10px;
}