.FilterSidebar {
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: row;
  .filtersOptions {
    display: flex;
    flex-direction: column;
    background-color: #343c4b;
  }
  .filters {
    width: 0%;
    transition: all 0s ease-in;
    &.open {
      width: 100%;
    }
  }
}
