.wrapper {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}

.wrapper > * {
  margin-top: 5px;
  padding: 10px;
}

.footer {
  background: #f4f4f4;
}

.fieldGroup {
  display: flex;
  width: 100%;
}
.field {
  width: 33%;
}

.main {
  margin-left: 5px;
  text-align: left;
  background: #f4f4f4;
}

.aside-1 {
  background: #f4f4f4;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .aside-1 { order: 1; }
  .main    { order: 2; }
  .footer  { order: 3; }
}
.md-22 {
  font-size: 22px;
}