@keyframes dropDown {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 200px;
  }
}

.options {
  animation-name: dropDown;
  animation-duration: 0.275s;
  transition: all cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transform-origin: center;
  max-height: 200px;
  z-index: 100;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
}

.option {
  height: 40px;
  padding-top: 0.75rem;
  padding-left: 0.75rem;
  text-transform: capitalize;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
}

.selectedOption {
  background-color: rgba(158, 158, 158, 0.2);
}

.ms-TextField-fieldGroup {
  input {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
  }
}
