input {
	color: black !important;
	padding: 0 12px 0 5px !important;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
}

.ms-TextField.leftLabel {
	margin-bottom: 8px;
}

.ms-TextField.leftLabel .ms-TextField-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.ms-TextField-errorMessage {
	font-family: 'Roboto', sans-serif;
}

.ms-TextField-suffix {
	background: #ffffff !important;
	color: #000000 !important;
	align-items: center;
}

.ms-TextField .ms-Label {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color: #1d5ab9;
	white-space: nowrap;
}