.flex-grid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-grid .col {
  display: flex;
  color: white;
  font-size: 13px;
}

.appBarLeft {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.flex-grid .col svg {
  color: white;
}

.logo {
  width: 6rem;
  margin-top: 0rem;
}

.moduleName {
  font-size: 10px;
  font-style: italic;
  color: white;
}

.text {
  margin-top: 0.6rem;
}

.iconText {
  margin-top: 0.4rem;
}

.searchBar {
  margin-top: -0.2rem;
  margin-left: 2rem;
}

.md-light {
  font-size: 30px;
  color: rgba(255, 255, 255, 1);
}

.appBarLeft > img.logo {
	display: initial;
}